<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{% block title %} research.ai {% endblock %}</title>
    </head>
    <body>
        <h1>Welcome to research.ai!</h1>
        <form action="/summarize" method="post" enctype="multipart/form-data">
            <div class="card">
                <label for="file">Choose a file:</label>
                <input type="file" id="file" name="pdf_file" required>
                <button type="submit">Upload</button>
              </div>
        </form>
    </body>
</html>